@media screen and (max-width:600px) {
    .bennar-main-container{
        max-width: 330px;
        width: 70%;
        margin: 0px auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        
    .bennar-heding{
        color: #FFF; 
        font-size: 12px;
        font-weight: 800;
        padding: 30px 0px 25px 0px;
    }
    form{
        display: inline-flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
        width: 200px;
        padding: 16px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
    }
    .bennar-input-box form input {
        font-size: 16px;
        border: none;
        border-radius: 8px ;
        background: #FFF;
        padding: 16px 15px 16px 15px;
        width: 170px;
    }
    .primary-btn{
        color: #FFF;
        /* text-align: center; */
        font-size: 16px;
        font-weight: 700;
        border-radius: 8px;
        background: #FF5400;
        padding: 16px 15px 16px 15px;
        border: none;
        margin-left:10px ;
        width: 170px;
    }
    /* .header{
        max-width:200px ;
        width: 100%;
    } */

    /* heading start here  */
    
    /* heading end here  */

}