
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

/* heading start here  */


                                  /* nav start here  */

.nav-containmer{
    max-width: 1440px;
    width: 70%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    
}  
.logo-icon{
    visibility: hidden;
}
.logo-div{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 15px;
}   
.logo-name{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}
span{
    color: #FF5400;
}
.side-div{
    width: 50%;
    
    

}
.side-div ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    
    /* text-align: center; */
    
}




                             /* nav end here  */

.bennar-main-container{
    max-width: 1440px;
    width: 70%;
    margin: 0px auto;
    background-image: url('B9A2-Hero-Travel-main/Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat:no-repeat ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 16px;
}

.bennar-heding{
    color: #FFF; 
    font-size: 50px;
    font-weight: 800;
    padding: 160px 0px 25px 0px;
}
.bennar-title{
    max-width: 670px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 48px;
}
.bennar-input-box{
   
 padding-bottom: 106px;
    
}
form{
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;
    width: 1000px;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.bennar-input-box form input {
    font-size: 16px;
    border: none;
    border-radius: 8px ;
    background: #FFF;
    padding: 16px 50px 16px 15px;
}
.primary-btn{
    color: #FFF;
    /* text-align: center; */
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    background: #FF5400;
    padding: 16px 50px 16px 15px;
    border: none;
    margin-left:10px ;
}


/* heading end here  */


/* main start here  */

  /* populer tours style  */

  .populer-tour{
    max-width: 1440px;
    width: 70%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
  }
  .populer-tour-header{
    color: #131318; 
    font-size: 40px;  
    font-weight: 800; 
    padding-bottom:24px ;
    
  }
  .tour-text{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
  }
  .populer-tour-btn{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
    background: #FF5400;
    padding: 14px 35px;
    border: none;
    margin-top: 24px;
  }
  .populer-tour-text{
    width: 50%;

  }
  .populer-tour-img img{
    width: 50%;
    width: 540px;
  }
  .populer-tour-img{
    
  }

 /* populer tours style end  */

/* section - 2 start */

.destination-text{
    max-width: 1440px;
    width: 70%;
    margin: 0px auto;
}
.destination-h3{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;
}
.destination-paragraph{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    max-width:  643px;
    margin: 0px auto;
    margin-top: 24px;
}

.destination-img{
    max-width: 1440px;
    width: 70%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 50px;
    
    
    
}
.id{
    margin: 10px;
}

.destination-img img{
    width: 100%;
    height: 100%;
    
    
}


.img-1{
    grid-column: 1/span 6;
}
.img-2{
    grid-column: 7/span 12;
}
.img-3{
   grid-column: 1/span 4;
}
.img-4{
     grid-column: 5/span 5; 
}
.img-5{
    grid-column:10/span 12 ;
}
.img-6{
    grid-column: 1/span 5;
}
.img-7{
    grid-column: 6/span 12;
}

/* section - 2 end */


/* section Why-Choose-Us */
.Why-Choose-Us-maindiv{
    max-width: 1440px;
    width: 70%;
    margin: 0px auto;
}
.Choose-Us-h3{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;

}
.Choose-Us-paragraph{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    max-width:  643px;
    margin: 0px auto;
    margin-top: 24px;
}

.Why-Choose-card-containet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
}
.Why-Choose-card-row1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    

}
.icon{
    font-size: 64px;
}
.card-1 ,    .card-2 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 46.5%;
    padding: 32px 0px 32px 32px;
}
.card-2{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.card-3{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px 0px 32px 32px;
}
.Why-Choose-h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.Why-Choose-paragraph{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
.Why-Choose-card-row2{
    display: flex;
    justify-content: center;
    width: 47%;
}

/* section Why-Choose-Us end */

                /* start here newsbox */
                
.Newsletter-main-container{
    max-width: 1440px;
    width: 70%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 85px;
}
.login-box{
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
    width: 40%;
} 
.login-box-header{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 16px;
}
.login-box-paragraph{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    max-width: 350px;
}
hr{
    margin: 24px 0px;
}
.input-box{
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding: 16px 250px 16px 20px;
    margin-bottom: 16px;
    border: none;
}
.input-box-btn{
    border-radius: 8px;
    background: #FF5400;
    padding: 14px 185px;
    border: none;
}

.img-box img{
    width: 672px;
    width: 100%;
    
    
}
.img-box{
    position: relative;
}
.save-70-text{
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}
.save-70-h3{
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
}
.save-70{
    max-width: 250px;
    width: 100%;
    position: absolute;
    border-radius: 16px;
    background: #FF5400;
    padding: 10px;
    bottom:  45px;
    right:  10px;
    transform: rotate(-19.628deg);
}


                /* end here newsbox */



                /* Simple Perfect Place stsrt  */

.Simple-Place-maindiv{
    max-width: 1440px;
    width: 70%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}  
.Simple-Place-text{
    width: 50%;
}  

.Simple-Place-video video{
    max-width: 610px;
    width: 100%;
    border-radius: 16px;
    background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%);
}  
.Simple-Place-heading{
    max-width: 448px;;
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px; 
    padding-bottom:24px ;
}    
.Simple-Place-paragrapg{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}   
.Simple-Place-list{
    color: #131318;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 162.5% */
}
.Simple-Place-btn{
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    padding: 14px 45px 14px 45px;
    border: none;
}
.list-1{
    padding: 24px 0px 16px 0px;
}
                /* Simple Perfect Place end  */



                /* bonus task start here  */

 .bonus-task-mainduv-1{
    max-width: 1250px;
    width: 70%;
    margin: 0px auto;
    background-image: url('B9A2-Hero-Travel-main/Images/Group\ 39.png');
    background-size:cover ;
    background-repeat:no-repeat ;
    display: flex;
    justify-content: end;
    padding: 50px;
    border-radius: 16px;
    margin-top: 100px;
    

 }  
 .container{
    
    max-width: 579px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 50px 0px 50px 50px;

 }   
 .bonus-task-1{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 0px 26px 0px;
 }      
 .bonus-task-h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
 }
.bonus-task-p-1{
    max-width: 452px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 16px 0px;
    }
    .bonus-task-btn{
        border-radius: 8px;
        background: #FF5400;
        color: #FFF;
        text-align: center;
        font-size: 20px;
        font-weight: 800;
        padding: 14px 24px;
        border: none;
        margin-top: 24px;

    }

    /* bonus 2  */
    #bonus-2{
        background-image: url('B9A2-Hero-Travel-main/Images/Group\ 40.png');
        justify-content: start;
    }



                /* bonus task end here  */
/* main end here  */


/* footer start here  */

#footer{
    /* max-width: 1440px; */
    width: 100%;
    background: rgba(19, 19, 24, 0.05);
}
.footer-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-heading{
    display: flex;
    align-items: center;
    gap: 16px   ;
    padding-top: 110px;
}
.footer-heading-text{
    color:  #131318;
    font-size: 32px;
    font-weight: 800;
}
.footer-paragraph{
    max-width: 760px;
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    padding: 15px 0px 32px 0px;
}
.footer-icon{
    display: flex;
    font-size: 30px;
    gap: 15px;
    
}
.copy-right{
    padding-bottom: 110px ;
}
.hr{
    width: 50%;
}


/* footer end here  */